@import "admin.css";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wrapper .isi{
    width: auto;
    min-width: 100%;
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-top: 4px solid #bbb;
    border-radius: 5px;
    overflow: hidden;

}
.wrapper .header{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.wrapper .header a{
    color: black;
    text-decoration: none;
}
.wrapper .header a:nth-child(2){
    color: rgb(0, 0, 0);
}

.wrapper .isi .head-content{
    border-bottom: 1px solid #bbbb;
    padding: 10px 0;
    


}
.wrapper .isi .head-content button{
    font-style: normal;
    font-weight: 500;
    background-color: #3876BF;
    font-size: 13px;
    color: white;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 6px;
    box-sizing: border-box;
    cursor: pointer;
}
.wrapper .isi .neck-content{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 300;
}
.wrapper .isi .neck-content span input{
    width: 150px;
    padding: 5px;

}

.isi .tabel-content table{
    width: 100%;
    border-collapse: collapse;

}
.isi .tabel-content table th{
    padding: 10px 5px;
    background-color: green;
    text-align: left;
    color: white;
}
.isi .tabel-content table th,
.isi .tabel-content table td{
    border: 1px solid #bbb;
}
.isi .tabel-content table td{
    padding: 3px 5px;
    align-content: center;
}
.isi .tabel-content table tr:nth-child(even){
    background-color: #f0f0f0;
}
.isi .tabel-content table tr:hover{
    background-color: #ddd;
}
.isi .tabel-content table tr button{
    /* height: 40px; */
    padding: 8px;
    color: white;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    
}
.isi .tabel-content table tr button:nth-child(1){
    background-color: rgb(7, 177, 98);
}
.isi .tabel-content table tr button:nth-child(2){
    background-color: rgb(177, 7, 7);
}

.isi .tabel-content table a{
    text-decoration: none;
    
}

/* modal pop up */


.modal{
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
    color: black;

}
.modal #close{
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #ddd;
}
.modal #close:hover{
    color: black;
}

.header-content{
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
}
.modal-content{
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    width: 40%;
    margin-top: 5em;
    position: relative;
    animation: FadeInDown .4s ease-in-out forwards;
    /* position: absolute;  */
}
.modal-content .isi-kontent table {
    width: 100%;
    margin: 18px 0;
}
.modal-content .isi-kontent table input {
    border: 1px solid #d3d3d3;
    padding: 5px;
    border-radius: 3px;
    width: 75%;

}


.modal-content .isi-kontent table input:focus {
    outline: 1px solid #246cb1;
}


.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ddd;
    padding: 10px 0 0 0;

}
.footer-content button{
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;

}
.footer-content button .bi-x{
    font-size: 20px;
    font-weight: 600;
}
.footer-content button:nth-child(1):hover{
    background-color: #d3d3d3;
    border: 1px solid #818181;
}
.footer-content button:nth-child(2){
    background-color: #246cb1;
    color: white;
    border: 1px solid #246cb1;
    transition: .2s ease-in;

}
.footer-content button:nth-child(2):hover{
    background-color: #20588d;
    

}



@keyframes FadeInDown {
    0%{
        transform: translateY(-10em);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}




.wrapp{
    width: auto;
    min-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    background-color: #fff;
    padding: 10px;
    

}
.wrapp table{
    height: 150px;
    width: 100%;
}
.wrapp table input{
    height: 25px;

}